@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';
@import "leaflet/dist/leaflet.css";

@theme {
    --font-segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --font-serif: "Crimson Text", serif;
    --breakpoint-1330: 1330px  !important;

}

@utility text-main {
  font-family: var(--font-segoe);
  @apply text-green-900;
  @apply font-semibold
}

@utility text-secundary {
  font-family: var(--font-segoe);
  @apply text-gray-400;
  @apply font-semibold
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 4px; /* largura da barra de rolagem */
    background-color: #064e24; /* fundo do scroll */
    border-radius: 4px; /* borda arredondada da thumb */

  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00C950; /* cor da thumb */
    border-radius: 2px; /* borda arredondada da thumb */
    border: 1px solid #064e24; /* margem ao redor da thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #00E060; /* opcional: muda ao passar o mouse */
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid inherit;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #064e24 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
.main-shadow {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.16);
}